

<div class="container" *ngIf="!loading" ></div>
 


<div class="container mt-4">
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-3">
      <input class="form-control me-4" type="search" placeholder="Search Food Products" (input)="FilterByName($event)">
    </div>
    <div class="col-lg-4">
      <h4>{{SearchByName}}</h4>
    </div>
  </div>


</div>
<div *ngIf="loading">
  <h1>Products are Loading....</h1>
</div>

<div class="container mt-5">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 mb-4" [ngStyle]="cardText"  *ngFor="let product of Fish_food">
        <div class="d-flex justify-content-evenly">
          <div class="card" style="width: 18rem;">
            <img [src]="product.food_img" class="card-img-top" alt="...">
            <div class="card-body" [class.bg-color]="product.bgcolor">
              <h5 class="card-title col-md-6">{{product.name|titlecase}}</h5><br>
              <p class="card-text">{{product.price|currency:"INR"}}</p><br>
              <a class="btn btn-primary" (click)="foodCart()">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
